#first, #second, #third {
  height: 100%;
  width: 100%; }

#first {
  background: url(../img/125.jpg) center center no-repeat; }

#second {
  background-color: yellow; }

#third {
  background-color: #666666; }
