%height-width
    height: 100%
    width: 100%

#first
    @extend %height-width
    background: url(../img/125.jpg) center center no-repeat

#second 
    @extend %height-width
    background-color: yellow
    
#third
    @extend %height-width
    background-color: #666666
    
    
    
    
    
    
    
    
    
    