/* font-family: 'Alegreya SC', serif;
   font-family: 'Montserrat', sans-serif;
   font-family: 'Open Sans', sans-serif; */

/* variables */

$color: #ffff00

/* Sendwich menu 3 bars */

#menu-toggle
    cursor: pointer
    height: 45px
    margin: 3% 3%
    padding: 3px 2px 1px 2px
    position: fixed
    width: 50px
    
/* Sandwich menu */

.menu1,
.menu2,
.menu3
    border-top: 1px solid red
    border-bottom: 1px solid red
    height: 6px
    margin: 6px 
    width: 40px
    
/* Nav menu for active links Jquery */

.active-href
    font-weight: 900
    text-transform: uppercase

/* Fullscreen nav container */

.overlay 
    background-color: rgb(0, 0, 0)
    background-color: rgba(0, 0, 0, 0.9)
    height: 100%
    left: 0
    overflow-x: hidden
    position: fixed
    top: 0
    transition: 0.5s
    width: 0
    z-index: 1

/* Fullscreen nav content */

.overlay-content 
    margin-top: 30px
    position: relative
    text-align: center
    top: 25%
    width: 100%

/* Fullscreen nav links */

.overlay a
    color: #818181
    display: block
    font-size: 36px
    padding: 10px
    text-decoration: none
    transition: 0.3s
    
/* Fullscreen nav hover and focus */

.overlay a:hover,
.overlay a:focus
    color: #f1f1f1
    
/* Fullscreeen nav close button */

.overlay .closebtn
    font-size: 75px
    margin: 3% 5%
    right: 0
    position: absolute
    
/* CSS for body element */

body
    margin: 0
    
/* Landing page DIV class body */

.body
    background-color: #80ffbf
    height: 100vh
    width: 100vw
    position: fixed
    z-index: -3
   
/* Landing page DIV with opacity overlay */
    
.now
    background: #000
    background-color: rgba(0,0,0,0.7)
    border: 1px solid #000
    height: 98.5vh
    left: 50%
    position: relative
    top: 50%
    transform: translate(-50%, -50%)
    width: 99vw
    -webkit-transform: translate(-50%, -50%)
    z-index: -1
    
/* Landing page background image */
    
img
    background-size: cover
    max-width: 120%
    min-height: 100%
    overflow: hidden
    position: fixed
    z-index: -2
    
/* My name */

#name
    color: #fff
    font-family: 'Alegreya SC', serif;
    position: absolute
    top: 3%;
    right: 50%  
    
.name    
    color: #fff
    font-family: 'Alegreya SC', serif;
    position: absolute
    top: 3%;
    right: 4%
    
.name-border
    width: 270px
    height: 90px
    position: absolute
    right: 2.5%
    top: 2%
    
.top-border
    width: 25%
    border-top: 1px solid red
    
.right-border
    height: 25%
    border-right: 1px solid red
    position: absolute
    right: 0
    bottom: 0
    
.bottom-border
    width: 25%
    bottom: 0
    right: 0
    border-bottom: 1px solid red
    position: absolute
    
.left-border
    height: 25%
    border-left: 1px solid red
    position: absolute
    left: 0
    top: 0
    
/* Social buttons columns in overlay menu */
    
.col-md-3
    text-align: center
    font-weight: 800
    
.col-md-3 a
    color: $color
    
.col-md-3:first-child
    position: absolute
    bottom: 5%
    left: 5%

.col-md-3:last-child
    padding: 0px 30px 0px 30px
    position: absolute
    bottom: 5%
    right: 5%
    
/* Landing page text container */

#main-text
    color: #fff
    float: left
    left: 10%
    margin-top: 25%
    
    h1
        font-family: 'Montserrat', sans-serif;
        font-size: 50px
    h3
        font-family: 'Open Sans', sans-serif;
        font-size: 30px
        
#land
    position: absolute
    left: 0
    top: 10%
    
/* Landing page main text - animate */

#main-animate
    color: $color
    font-size: 40px
    
/*  Contact page - footer - reserved rights */

.rights
    bottom: 5%
    color: #fff
    margin: 15px
    right: 5%
    position: absolute
            
/* About page */
/* Two divs */

%about-p
    color: #fff
    font-size: 18px 
    text-align: center
    display: table-cell
    vertical-align: middle
    
%about
    display: table
    height: 35vh
    position: fixed
    width: 35vw

#about-left
    @extend %about
    left: 12%
    top: 12%

    p
        @extend %about-p
    
#about-right
    @extend %about
    bottom: 12%
    right: 12%

    p
        @extend %about-p
        
#about-right h4,
    font-family: 'Montserrat', sans-serif;
    color: #fff
    font-size: 22px
    position: absolute
    float: left
    left: 41%
    
#about-left h4
    font-family: 'Montserrat', sans-serif;
    color: #fff
    font-size: 22px
    position: absolute
    float: left
    left: 35%
    
/* Portfolio page */

%port
    height: 200px
    width: 200px
    position: relative
    border: 2px solid #000
    border-radius: 5px
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    float: left
    display: block

.my-work
    color: #fff
    font-family: 'Montserrat', sans-serif;
    position: relative
    text-align: center
    margin: 80px 0 0 0
    
.port-right img,
.port-right1 img, 
.port-right2 img,
    @extend %port

.photo
    @extend %port
    background-color: red
    height: 200px
    width: 200px
    
.opacity
    @extend %port
    background-color: #000
    height: 200px
    width: 200px
    opacity: 0.5

.portfolio
    margin: 0 auto
    
.porto
    display: flex
    align-items: center
    margin: 0 auto
 
.port-left h3
    color: red
    text-align: center
    
.porto-text
    margin-top: 10%
    
.port-left p
    color: #fff
    text-align: center
    
.port-work
    margin-bottom: 5%
  
/* Media screen */
        
@media screen and (max-width: 1320px)
    .name-border
        right: 1.5%
        
    .name
        right: 5%
        
    .port-work
        margin-bottom: 10%
        
    .port-right img,
    .port-right1 img, 
    .port-right2 img,
    .port-right3 img,  
    .port-right4 img
        max-height: 90px
        max-width: 90px
        
    .photo
        height: 90px
        width: 90px
        
    .opacity
        height: 90px
        width: 90px
        
@media screen and (max-width: 768px)
    #about-left,
    #about-right
        width: 75vw
        
    #about-right p,
    #about-left p
        font-size: 12px
    
    #about-right h4,
    #about-left h4
        font-size: 16px
        
    #name
        font-size: 16px
        right: 30%
        
    .name-border
        height: 70px
        top: 2.5%
        right: 0
        width: 165px
        
    .name h3
        font-size: 16px
        
    .my-work h1
        font-size: 22px
        
    .overlay a
        font-size: 20px
    
    .overlay .closebtn
        font-size: 40px
        top: 15px
        right: 35px
        
    .port-work
        margin-bottom: 15%
        
    .my-work
        margin-bottom: 10%

@media screen and (max-width: 670px)
    .overlay a
        font-size: 16px
    
    .overlay .closebtn
        font-size: 35px
        top: 12px
        right: 25px
        
    .col-md-3
    margin: 15% 2% 2% 2%
    text-align: center
        
    .my-work h1
        font-size: 18px
        
    .my-work
        margin: 60px 0 0 10px
    
    #main-text
        h1
            font-size: 24px
            
    #main-text
        h3
            font-size: 18px
            
    #main-animate
        font-size: 19px
        
    .port-work
        margin-bottom: 1%
        
    .port-left p
        font-size: 12px
        
    .port-left
        margin: 0
        padding: 0
        
    .port-right img,
    .port-right1 img, 
    .port-right2 img,
    .port-right3 img,  
    .port-right4 img
        max-height: 80px
        max-width: 80px
        
    .photo
        height: 80px
        width: 80px
        
    .opacity
        height: 80px
        width: 80px
        
    .porto-text
        margin-top: 0
    
            
    
    
    
    
    
    
    
    

    
            
            
            

